<template>
  <q-page>
    <div class="row flex justify-center q-py-lg">
      <paragraph class="col-6"/>
    </div>
    <div class="row flex justify-center">
      <div class="text-h4 col-8">Комментарии</div>
    </div>
    <div class="row flex justify-center q-py-xl">
      <comment class="col-8" v-for="(commentItem,index) in commentsList" :key="index" :data="commentItem">
      </comment>
    </div>
  </q-page>
</template>

<script>
import paragraph from '../components/paragraph'
import { mapState } from 'vuex'
import Comment from '../components/comment'

export default {
  name: 'about',
  components: {
    Comment,
    paragraph
  },
  computed: {
    ...mapState(['commentsList'])
  }
}
</script>

<style scoped>

</style>
