<template>
<!--
     Можете объяснить, что происходит, если у вас есть время, пожалуйста.

     На главной странице и странице категорий у меня появлялись непонятные отступы
     (да это не отступы даже, это сам объект расширялся).
     Я это наполовину пофиксил, сделав min-height: 100% карточке.
     Всё вроде бы теперь нормально, но при любом изменении сайта отступы возвращаются
     (например, при  клике на кнопку пагинации), а ещё, если после этого хоть как-то изменить размер окна,
     то отступы опять пропадают. Это можно хорошо видеть на странице с категориями,
     на главной странице нечему менятся, поэтому там отступы можно увидеть, только убрав min-height: 100%.
-->

  <q-page class="q-py-lg q-px-md q-gutter-y-lg">
    <div class="row q-col-gutter-x-lg">
      <cardh4 class="col-6" v-for="(article,index) in articles1" :key="index" :data="article"/>
    </div>
    <div class="row q-col-gutter-x-lg">
      <cardh6 class="col-4" v-for="(article,index) in articles2" :key="index" :data="article"/>
    </div>
    <div class="row q-col-gutter-x-lg">
      <cardh4 class="col-6" v-for="(article,index) in articles3" :key="index" :data="article"/>
    </div>
    <div class="row q-col-gutter-x-lg">
      <cardh6 class="col-4" v-for="(article,index) in articles4" :key="index" :data="article"/>
    </div>
  </q-page>
</template>

<script>
import Cardh4 from '../components/cardh4'
import Cardh6 from '../components/cardh6'
import { mapState } from 'vuex'
export default {
  name: 'home',
  components: { Cardh6, Cardh4 },
  computed: {
    ...mapState(['articles1', 'articles2', 'articles3', 'articles4'])
  }
}
</script>
