<template>
  <q-page style="min-height: 100%">
    <q-card class="my-card">
      <img src="../statics/img/thumbnail.svg">
      <q-card-section>
        <div class="text-h6 text-weight-thin text-blue-8">{{data.category}}</div>
      </q-card-section>
      <q-card-section class="text-grey-8 text-h4">
        {{ data.headline }}
      </q-card-section>
      <q-card-section>
        <div class="text-h6 text-blue-grey-3 flex justify-between">
          <p class="q-mb-none">{{data.author}}</p>
          <p class="q-mb-none text-weight-regular">{{data.time}}</p>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'cardh4',
  data () {
    return {
    }
  },
  props: { data: String }
}
</script>

<style scoped>

</style>
